/*=============================================
=             Variables - Borders             =
=============================================*/

// Border colors
$border-color: $black;

// Border radius
$border-radius: 5px;
$border-radius-lg: 40px;
$border-radius-xl: 100px;

// Border width
$border-width: 3px;
