/*=============================================
=             variables - colors              =
=============================================*/

// primary
$white: #ffffff;
$off-white: #f8f8f8;
$black: #000000;
$off-black: #272727;

// grey
$grey: #dddddd;

// blue
$blue: dodgerblue;
