{% if page.title %}
  {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
{% else %}
  {% capture title %}{{ site.title }} - {{ site.tagline }}{% endcapture %}
{% endif %}

{% if page.description %}
  {% capture description %}{{ page.description }}{% endcapture %}
{% else %}
  {% capture description %}{{ site.description }}{% endcapture %}
{% endif %}


<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  {% comment %} Style Sheet {% endcomment %}
  <link rel="stylesheet" href="{{ site.styles | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
</head>
